.hero {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("https://images.unsplash.com/photo-1609873969643-9df5d4de66c5") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero button {
  background-color: #f6b93b;
  color: #0a3d62;
  border: none;
  padding: 12px 24px;
  margin: 0 10px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background-color: #e58e26;
  color: white;
}
